<div class="row">
    <div class="col">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="skills">Skills</label>
                    <input type="text" id="skills" class="form-control" #skillsInput />
                </div>
                <div class="col-sm-7 form-group">
                    <label id="desc">Description</label>
                    <input type="text" id="desc" class="form-control" #descInput />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-success" type="button" (click)="onAddItem()">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>