<div class="row">
    <div class="col">
        <form (ngSubmit)="onAddItem(form)" #form="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="skills">Skills</label>
                    <input type="text" id="skills" class="form-control" name="skills" ngModel required />
                </div>
                <div class="col-sm-7 form-group">
                    <label id="desc">Description</label>
                    <input type="text" id="desc" class="form-control" name="description" ngModel required />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-success" type="submit"
                        [disabled]="!form.valid">{{ editMode ? "Update" : "Add" }}</button>
                    <button class="btn btn-warning" type="reset" (click)="onClear()">Clear</button>
                    <button class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>