<div class="row">
    <div class="col-xs-12">
        <img [src]="event.image" alt="{{ event.name }}" class="img-responsive img-detail" />
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-success" (click)="onAddReuirements()" routerLink="/requirements">Add
            requirements</button>
        <button class="btn btn-success" (click)=onEditEvent()>Edit</button>
        <button class="btn btn-danger" href="#" (click)="onDelete()">Delete</button>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ event.name }} -
        {{ event.description }}
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="list-group">
            <li *ngFor="let requirement of event.requirements">
                {{ requirement.name }} - {{ requirement.description }}
            </li>
        </ul>
    </div>
</div>