<div class="row">
    <div class="col-xs-12">
        <h2>Event details</h2>
    </div>
</div>
<div class="row">
    <div class="col">

    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-success dropdown-toggle">
            Edit event
        </button>
        <ul class="dropdown-menu">
            <li>
                <a href="#">Title</a>
            </li>
            <li>
                <a href="#">Description</a>
            </li>
            <li>
                <a href="#">Delete</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        Description
    </div>
</div>
<div class="row">
    <div class="col">
        Skiills
    </div>
</div>